<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="pwaHead">
        <meta name="theme-color" content="#1e3a5f"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-title" content="Event UCE"/>
        <link rel="manifest" th:href="@{/manifest.webmanifest}"/>
        <link rel="icon" type="image/svg+xml" th:href="@{/icons/icon.svg}"/>
        <link rel="apple-touch-icon" th:href="@{/icons/icon.svg}"/>
    </th:block>
</head>
<body></body>
</html>
